<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="index.html"><img src="<%= asset_url("theme_images/logo/logo.svg") %>" /></a>
    <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="<%= asset_url("theme_images/logo/logo-mini.svg") %>" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="<%= asset_url("theme_images/face1.jpg") %>" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column pr-3">
          <span class="font-weight-medium mb-2">Henry Klein</span>
          <span class="font-weight-normal">$8,753.00</span>
        </div>
        <span class="badge badge-danger text-white ml-3 rounded">3</span>
      </a>
    </li>
    <% if user_signed_in? %>
      <% if current_user.admin?%>
        <li class="nav-item">
          <a class="nav-link" href="<%= home_index_path %>">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">Home</span>
          </a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="pages/icons/mdi.html">
          <i class="mdi mdi-magnify menu-icon"></i>
          <span class="menu-title">Search</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/icons/mdi.html">
          <i class="mdi mdi-playlist-play menu-icon"></i>
          <span class="menu-title">My Playlist</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/icons/mdi.html">
          <i class="mdi mdi-folder-plus menu-icon"></i>
          <span class="menu-title">Create Playlist</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/icons/mdi.html">
          <i class="mdi mdi-bookmark-plus menu-icon"></i>
          <span class="menu-title">Favourite Song</span>
        </a>
      </li>
      <li class="nav-item sidebar-actions">
        <div class="nav-link">
          <div class="mt-4">
            <div class="border-none">
              <p class="text-black">Notification</p>
            </div>
            <ul class="mt-4 pl-0">
              <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link" %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav-link" %>
            </ul>
          </div>
        </div>
      </li>
    <%else%>
      <div>
        <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
        <%= link_to 'Log In', new_user_session_path, class:"nav-link" %>
      </div>
    <%end%>
  </ul>
</nav>