<p id="notice"><%= notice %></p>

<h1>Appoinmentinfos</h1>

<table>
  <thead>
    <tr>
      <th>Appoinmentinfo</th>
      <th>Doctor name</th>
      <th>Player name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appoinmentinfos.each do |appoinmentinfo| %>
      <tr>
        <td><%= appoinmentinfo.appoinmentinfo %></td>
        <td><%= appoinmentinfo.doctor.name %></td>
        <td><%= appoinmentinfo.player.name %></td>
        <td><%= link_to 'Show', appoinmentinfo %></td>
        <td><%= link_to 'Edit', edit_appoinmentinfo_path(appoinmentinfo) %></td>
        <td><%= link_to 'Destroy', appoinmentinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appoinmentinfo', new_appoinmentinfo_path %>
