<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= doctor.contact_no %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= doctor.degree %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>
  <p>
    <strong>Joining Date:</strong>
    <%= doctor.joiningdate %>
  </p>

</div>
