<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>States:</strong>
  <%= @player.states %>
</p>

<p>
  <strong>City:</strong>
  <%= @player.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @player.dob %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @player.radiobutton %>
</p>


<p>
  <strong>Sport:</strong>
  <%= @player.sport.name %>
</p>


<%= link_to 'Edit', edit_player_path(@player), class:"btn btn-secondary" %>
<%= link_to 'Back', players_path, class:"btn btn-dark" %>
