<p id="notice"><%= notice %></p>

<p>
  <strong>Player Name:</strong>
  <%= @achievement.player.name  %>
</p>

<p>
  <strong>Medal name:</strong>
  <%= @achievement.medal_name %>
</p>

<p>
  <strong>Total medals:</strong>
  <%= @achievement.total_medals %>
</p>

<p>
  <strong>Country:</strong>
  <%= @achievement.country %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
