<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coach_detail.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @coach_detail.sport %>
</p>

<p>
  <strong>Country:</strong>
  <%= @coach_detail.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach_detail.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @coach_detail.age %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @coach_detail.sport %>
</p>

<%= link_to 'Edit', edit_coach_detail_path(@coach_detail) %> |
<%= link_to 'Back', coach_details_path %>
